<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-500">Settings</h1>
</div>

<div class="row">
      <!----------------------------------------------------------------------------------------------------------------------------------------Magasin-->
      <div class="col-lg-12">
            <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 ">

                        <div class="row">
                              <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Magasin</h6>
                              </div>
                        </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body p-3 border-bottom-warning">
                        <div class="row">
                              <div class="col-lg-12">
                                    <table class="table table-striped">
                                          <thead>
                                                <tr>
                                                      <th>Logo</th>
                                                      <th>Nom</th>
                                                      <th>Adresse</th>
                                                      <th>Téléphone</th>
                                                      <th>Fax</th>
                                                      <th style="text-align:center;">Actif/Inactif</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let s of stores" (click)="edit(s)">
                                                      <!--A mettre en *ngFor-->
                                                      <td><img src="/assets/img/SportsExperts.jpg" width="50" /></td>
                                                      <td>{{s.Store_Name}}</td>
                                                      <td>{{s.Store_Number}} {{s.Store_Street}}, {{s.Store_City}}, {{s.Store_State}} {{s.Store_PostalCode}}</td>
                                                      <td>{{s.Store_Phone}}</td>
                                                      <td>{{s.Store_Fax}}</td>
                                                      <td style="text-align:center;">{{s.actif}}</td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </div>

                        <button class="btn btn-dark float-lg-right" (click)="add()">Ajouter</button>
                  </div>

                  <!-- Card Body -->
                  <div class="card-body p-3" *ngIf="ajout">
                        <form class="form-group" [formGroup]="form" (ngSubmit)="onFormSubmit()">
                              <div class="row m-4">
                                    <div class="col-lg-2 align" style="text-align:center">

                                          <div class="row mb-4 ">
                                                <div class="col">
                                                      <div style="border:solid 1px black; width:100px; height:100px; margin:0 auto">
                                                            <img src="/assets/img/{{selected.Store_Logo}}" width="100" />
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="row mb-4">
                                                <div class="col">
                                                      <button class="btn btn-dark btn-small">Parcourir</button>
                                                </div>
                                          </div>
                                    </div>

                                    <div class="col-lg-10">
                                          <div class="row mb-4">
                                                <div class="col">
                                                      <label>Nom</label>
                                                      <input class="form-control" type="text" formControlName="name" placeholder="Nom" [ngClass]="{'is-invalid' : formSubmited && f.name.errors}" />
                                                      <div *ngIf="formSubmited && f.name.errors" class="invalid-feedback">
                                                            <div *ngIf="f.name.errors.required">Le nom du magasin est obligatoire</div>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <label>Ville</label>
                                                      <input class="form-control" type="text" formControlName="city" placeholder="Ville" [ngClass]="{'is-invalid' : formSubmited && f.city.errors}" />
                                                      <div *ngIf="formSubmited && f.city.errors" class="invalid-feedback">
                                                            <div *ngIf="f.city.errors.required">Le nom de la ville est obligatoire</div>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <label>Téléphone</label>
                                                      <input class="form-control" type="text" formControlName="phone" placeholder="(___) ___-____" [ngClass]="{'is-invalid' : formSubmited && f.phone.errors}" />
                                                      <div *ngIf="formSubmited && f.phone.errors" class="invalid-feedback">
                                                            <div *ngIf="f.phone.errors.required">Le numéro de téléphone est obligatoire</div>
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="row mb-4">
                                                <div class="col">
                                                      <label>No Civic</label>
                                                      <input class="form-control" type="text" formControlName="number" value="" placeholder="No civic" [ngClass]="{'is-invalid' : formSubmited && f.number.errors}" />
                                                      <div *ngIf="formSubmited && f.number.errors" class="invalid-feedback">
                                                            <div *ngIf="f.number.errors.required">Le numéro civic est obligatoire</div>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <label>Province</label>
                                                      <select class="form-control" formControlName="state">
                                                            <option  [ngValue]="null" disabled>Choisir la Province</option>
                                                            <option [ngValue]="f.state"   selected>{{selected.Store_State}}</option>
                                                            <option *ngFor="let p of provinces" [ngValue]="p">{{p}}</option>
                                                      </select>
                                                </div>
                                                <div class="col">
                                                      <label>Fax</label>
                                                      <input class="form-control" type="text" formControlName="fax" value="" placeholder="(___) ___-____" />
                                                </div>
                                          </div>

                                          <div class="row mb-4">
                                                <div class="col">
                                                      <label>Rue</label>
                                                      <input class="form-control" type="text" formControlName="street" value="" placeholder="Rue" [ngClass]="{'is-invalid' : formSubmited && f.street.errors}" />
                                                      <div *ngIf="formSubmited && f.street.errors" class="invalid-feedback">
                                                            <div *ngIf="f.street.errors.required">Le nom de la rue est obligatoire</div>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <label>Pays</label>
                                                      <select class="form-control">
                                                            <option value="value" selected>{{selected.Store_Country}}</option>
                                                      </select>
                                                </div>
                                                <div class="col">
                                                      <label>Inactif</label><br />
                                                      <input type="checkbox" class="mr-3" formControlName="actif" writeValue="f.actif" />
                                                </div>
                                          </div>

                                          <!--<div class="row mb-4">
                                                <div class="col-lg-4">
                                                      <h3>Premier jour de la semaine</h3>
                                                </div>
                                                <div class="col">
                                                      <h3 class="form-check-label">D</h3>
                                                      <input type="checkbox" name="MagSun" value="" />
                                                </div>
                                                <div class="col">
                                                      <h3 class="form-check-label">L</h3>
                                                      <input type="checkbox" name="MagMon" value="" />
                                                </div>
                                                <div class="col">
                                                      <h3 class="form-check-label">M</h3>
                                                      <input type="checkbox" name="MagThue" value="" />
                                                </div>
                                                <div class="col">
                                                      <h3 class="form-check-label">M</h3>
                                                      <input type="checkbox" name="MagWed" value="" />
                                                </div>
                                                <div class="col">
                                                      <h3 class="form-check-label">J</h3>
                                                      <input type="checkbox" name="MagThurs" value="" />
                                                </div>
                                                <div class="col">
                                                      <h3 class="form-check-label">V</h3>
                                                      <input type="checkbox" name="MagFri" value="" />
                                                </div>
                                                <div class="col">
                                                      <h3 class="form-check-label">S</h3>
                                                      <input type="checkbox" name="MagSat" value="" />
                                                </div>
                                          </div>-->

                                    </div>

                              </div>
                              <button class="btn btn-dark float-lg-right" (click)="resetForm()">Annuler</button>
                              <button class="btn btn-dark float-lg-right mr-4">OK</button>
                        </form>
                  </div>

            </div>
      </div>
</div>
