<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-500">Settings</h1>
</div>

<div class="row">
      <!----------------------------------------------------------------------------------------------------------------------------------------Postes-->
      <div class="col-lg-12">
            <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 ">

                        <div class="row">
                              <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Postes</h6>
                              </div>
                        </div>
                  </div>


                  <!-- Card Body -->
                  <div class="card-body p-3">
                        <div class="row m-4">
                              <div class="col-lg-12">
                                    <table class="table table-striped">
                                          <thead>
                                                <tr>
                                                      <th>Nom</th>
                                                      <th>Description</th>
                                                      <th>Couleur</th>
                                                      <th style="text-align:center">Inactif</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr>
                                                      <td>Gérant</td>
                                                      <td>Gêre le personnel</td>
                                                      <td><div style="background-color:#ffd800; width:auto; height:20px;"></div></td>
                                                      <td style="text-align:center"><input type="checkbox" name="PosteInactif" value="" /></td>
                                                </tr>
                                                <!---------------------------------------Dans le cas d'un ajout------------------------------------------------------------>
                                                <tr>
                                                      <td><input class="form-control" type="text" name="name" value="" placeholder="Nom" /></td>
                                                      <td><input class="form-control" type="text" name="name" value="" placeholder="Description" /></td>
                                                      <td>
                                                            <select class="form-control">
                                                                  <option selected value="">Choisir Couleur</option>
                                                                  <option style="background-color:#ff0" value="">Jaune</option>
                                                            </select>
                                                      </td>
                                                      <td style="text-align:center"><button class="btn btn-dark float-lg-right">Ajouter</button></td>
                                                </tr>
                                                <!---------------------------------------Dans le cas d'un ajout------------------------------------------------------------>
                                          </tbody>
                                    </table>

                              </div>
                        </div>
                  </div>

            </div>
      </div>
</div>
