<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-500">Settings</h1>
</div>

<div class="row">
      <!----------------------------------------------------------------------------------------------------------------------------------------Départements-->
      <div class="col-lg-12">
            <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 ">
                        <div class="row">
                              <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Postes</h6>
                              </div>
                        </div>
                  </div>


                  <!-- Card Body -->
                  <div class="card-body p-3 border-bottom-warning">
                        <div class="row m-4">
                              <div class="col-lg-12">
                                    <table class="table table-striped">
                                          <thead>
                                                <tr>
                                                      <th>Nom</th>
                                                      <th>Description</th>
                                                      <!--<th>Couleur</th>-->
                                                      <th style="text-align:center">Actif / Inactif</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let s of empStatus" (click)="edit(s)">
                                                      <td>{{s.EmpStatus_Name}}</td>
                                                      <td>{{s.EmpStatus_Descriptions}}</td>
                                                      <!--<td><div>{{s.EmpStatus_Color}}</div></td>-->
                                                      <td style="text-align:center">{{s.actif}}</td>
                                                      <!--<td style="text-align:center"><input type="checkbox" name="PosteInactif" value="" /></td>-->
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-12">
                                    <button class="btn btn-dark float-lg-right" (click)="add()">Ajouter</button>
                              </div>
                        </div>
                  </div>
                  <!---------------------------------------Dans le cas d'un ajout------------------------------------------------------------>

                  <div class="card-body p-3" *ngIf="ajout">
                        <form class="form-group" [formGroup]="form" (ngSubmit)="onFormSubmit()">
                              <div class="row m-4">

                                    <div class="col">
                                          <label>Nom</label>
                                          <input class="form-control" type="text" formControlName="name" placeholder="Nom" [ngClass]="{'is-invalid' : formSubmited && f.name.errors}" />
                                          <div *ngIf="formSubmited && f.name.errors" class="invalid-feedback">
                                                <div *ngIf="f.name.errors.required">Le nom du poste est obligatoire</div>
                                          </div>
                                    </div>
                                    <div class="col">
                                          <label>Description</label>
                                          <input class="form-control" type="text" formControlName="desc" placeholder="Description" [ngClass]="{'is-invalid' : formSubmited && f.desc.errors}" />
                                          <div *ngIf="formSubmited && f.desc.errors" class="invalid-feedback">
                                                <div *ngIf="f.desc.errors.required">La description du poste est obligatoire</div>
                                          </div>
                                    </div>
                                    <!--<div class="col"></div>      Une col pour la couleur-->
                                    <div class="col">
                                          <label>Inactif</label><br />
                                          <input type="checkbox" class="mr-3" formControlName="actif" writeValue="f.actif" />
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-12">
                                          <button class="btn btn-dark float-lg-right" (click)="resetForm()">Annuler</button>
                                          <button class="btn btn-dark float-lg-right mr-4">Ok</button>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </div>


