<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-500">Settings</h1>
</div>

<div class="row">
      <!----------------------------------------------------------------------------------------------------------------------------------------Cycle de Paye-->
      <div class="col-lg-12">
            <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 ">

                        <div class="row">
                              <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Cycle de paye</h6>
                              </div>
                        </div>
                  </div>


                  <!-- Card Body -->
                  <div class="card-body p-3">
                        <div class="row m-4">
                              <div class="col-lg-4">
                                    <!--<div id="calendar"></div>-->
                                    <ejs-calendar id=calendar locale="fr-CA"></ejs-calendar>
                              </div>
                              <div class="col-lg-8">
                                    <div class="row">
                                          <div class="col">
                                                <h3>Jour de la semaine</h3>
                                          </div>
                                          <div class="col">
                                                <h3>Jeudi</h3>
                                          </div>
                                    </div>

                                    <div class="row">
                                          <div class="col">
                                                <h3>Cycle</h3>
                                          </div>
                                          <div class="col form-check-inline">
                                                <label class="form-check-label mr-2">Quotidien</label>
                                                <input class="mr-3" type="checkbox" name="" value="" />
                                                <label class="form-check-label mr-2">Hebdo</label>
                                                <input class="mr-3" type="checkbox" name="" value="" />
                                                <label class="form-check-label mr-2">Bi-Hebdo</label>
                                                <input class="mr-3" type="checkbox" name="" value="" />
                                                <label class="form-check-label mr-2">Mensuel</label>
                                                <input class="mr-3" type="checkbox" name="" value="" />
                                          </div>
                                    </div>

                              </div>
                        </div>
                  </div>

            </div>
      </div>
</div>
