
<div class="row mb-4">
      <div class="col-12">
            <h5>Demande de congés</h5>
      </div>
</div>

<div class="row text-center">

      <div class="col-4">
            En attente
      </div>

      <div class="col-4">
            <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                        <button class="btn btn-dark" type="button">
                              <i class="fas fa-search fa-sm"></i>
                        </button>
                  </div>
            </div>
      </div>

      <div class="col-4">
            <input type="button" name="create" value="Créer une demande de congé" class="btn btn-dark" />
      </div>

</div>

<div class="row ">
      <div class="col-12">
            <div class="card  p-3">
                  <div class="row ">
                        <div class="col-12">
                              <input class="btn btn-dark mr-5" type="button" name="prev" value="<" /> lundi 17 Février au Jeudi 20 Février <input class="btn btn-dark ml-5" type="button" name="next" value=">" />
                        </div>
                  </div>
            </div>

            <!--Une demande-->
            <div class="row mb-2">
                  <div class="col">
                        <div class="card shadow border-left-warning p-4">
                              <div class="row">
                                    <div class="col">

                                          <div class="row">
                                                <div class="col">
                                                      Jeudi 20 Fév 2019
                                                </div>
                                          </div>
                                          <hr />
                                          <div class="row">
                                                <div class="col">
                                                      toute la journée
                                                </div>
                                          </div>
                                    </div>

                                    <div class="col">
                                          <div class="row">
                                                <div class="col">
                                                      en attente
                                                </div>
                                          </div>
                                          <hr />
                                          <div class="row">
                                                <div class="col">
                                                      #1825 envoyé le jeudi 30 Déc 2019
                                                </div>
                                          </div>
                                    </div>

                                    <div class="col">
                                          <img class="mr-3" width="50" src="../../../assets/img/users/unknownCircle.png" />Maxime Bouchard
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <!--Une demande-->
            <div class="row mb-2">
                  <div class="col">
                        <div class="card shadow border-left-warning p-4">
                              <div class="row">
                                    <div class="col">

                                          <div class="row">
                                                <div class="col">
                                                      Jeudi 20 Fév 2019
                                                </div>
                                          </div>
                                          <hr />
                                          <div class="row">
                                                <div class="col">
                                                      toute la journée
                                                </div>
                                          </div>
                                    </div>

                                    <div class="col">
                                          <div class="row">
                                                <div class="col">
                                                      en attente
                                                </div>
                                          </div>
                                          <hr />
                                          <div class="row">
                                                <div class="col">
                                                      #1825 envoyé le jeudi 30 Déc 2019
                                                </div>
                                          </div>
                                    </div>

                                    <div class="col">
                                          <img class="mr-3" width="50" src="../../../assets/img/users/unknownCircle.png" />Maxime Bouchard
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <!--Une demande-->
            <div class="row mb-2">
                  <div class="col">
                        <div class="card shadow border-left-warning p-4">
                              <div class="row">
                                    <div class="col">

                                          <div class="row">
                                                <div class="col">
                                                      Jeudi 20 Fév 2019
                                                </div>
                                          </div>
                                          <hr />
                                          <div class="row">
                                                <div class="col">
                                                      toute la journée
                                                </div>
                                          </div>
                                    </div>

                                    <div class="col">
                                          <div class="row">
                                                <div class="col">
                                                      en attente
                                                </div>
                                          </div>
                                          <hr />
                                          <div class="row">
                                                <div class="col">
                                                      #1825 envoyé le jeudi 30 Déc 2019
                                                </div>
                                          </div>
                                    </div>

                                    <div class="col">
                                          <img class="mr-3" width="50" src="../../../assets/img/users/unknownCircle.png" />Maxime Bouchard
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>


      </div>

</div>
<hr />
<div class="row">
      <div class="col-3">
            <ejs-daterangepicker id="" [startDate]="start" [endDate]="end" placeholder="Entrer une date" locale="fr-CA"></ejs-daterangepicker>
      </div>
      <div class="col-4">
            <div class="row mb-4">
                  <div class="col">
                        <input class="btn btn-dark mr-5" type="button" name="prev" value="<" /> lundi 17 Février au Jeudi 20 Février <input class="btn btn-dark ml-5" type="button" name="next" value=">" />
                  </div>
            </div>
            <div class="row mb-5">
                  <div class="col">
                        <input class="custom-checkbox" type="checkbox" name="vacance" value="" /><span class="ml-2">Vacances</span>
                  </div>
                  <div class="col">
                        <input class="custom-checkbox" type="checkbox" name="maladie" value="" /><span class="ml-2">Maladie</span>
                  </div>
                  <div class="col">
                        <input class="custom-checkbox" type="checkbox" name="autre" value="" /><span class="ml-2">Autre</span>
                  </div>
            </div>
            <div class="row text-center">
                  <div class="col">
                        <input class="btn btn-dark mr-5" type="button" name="Create" value="Créer" />
                  </div>
            </div>
      </div>
</div>
