<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-500">Messages</h1>
</div>


<div class="row">
      <div class="col-10">
            <div class="card shadow p-0">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header">
                        <div class="row">
                              <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Messagerie</h6>
                              </div>
                        </div>
                  </div>
                  <!--Publication Body-->
                  <div class="card-body">
                        <div class="row ">
                              <div class="col-5">
                                    <div class="card shadow list-group-item p-4">
                                          <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                      <button class="btn btn-dark" type="button">
                                                            <i class="fas fa-search fa-sm"></i>
                                                      </button>
                                                </div>
                                          </div>
                                          <ul class=" list-group">
                                                <li class="list-group-item active mb-1 border-0"><img width="50" class="mr-3" src="../../assets/img/users/unknownCircle.png" />Maxime Bouchard<span class="text-right float-right">10 fév</span></li>
                                                <li class="list-group-item mb-1 border-0"><img width="50" class="mr-3" src="../../assets/img/users/unknownCircle.png" />Alexandre Vogel</li>
                                                <li class="list-group-item mb-1 border-0"><img width="50" class="mr-3" src="../../assets/img/users/unknownCircle.png" />Bruno Laberge</li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="col-7">
                                    <div class="card shadow">
                                          <div class="card-header text-gray-300">
                                                <div class="row">
                                                      <div class="col-12 text-center">
                                                            <h5>Maxime Bouchard</h5>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="card-body">
                                                <!--row tu recois-->
                                                <div class="row" id="incoming">
                                                      <div class="col-6">
                                                            <p class="text-gray-500">heure du message</p>
                                                            <div class="card shadow  text-left bg-gray-400 p-2">
                                                                  Salut peux tu me remplacer lundi ?
                                                            </div>
                                                      </div>
                                                      <div class="col-3"><!--place vide--></div>
                                                      <div class="col-3"><!--place vide--></div>
                                                </div>

                                                <!--row tu parles-->
                                                <div class="row" id="sent">
                                                      <div class="col-3"><!--place vide--></div>
                                                      <div class="col-3"><!--place vide--></div>
                                                      <div class="col-6 text-right" id="sent">
                                                            <p class="text-gray-500">heure du message</p>
                                                            <div class="card shadow  text-left bg-primary p-2  text-gray-100 float-right">
                                                                  ouais pas de trouble
                                                            </div>
                                                      </div>
                                                </div>

                                                <!--row tu recois-->
                                                <div class="row" id="incoming">
                                                      <div class="col-6">
                                                            <p class="text-gray-500">heure du message</p>
                                                            <div class="card shadow flex-lg-fill text-left bg-gray-400 p-2">
                                                                  Cool merci !!! tu me sauve la vie!
                                                            </div>
                                                      </div>
                                                      <div class="col-3"><!--place vide--></div>
                                                      <div class="col-3"><!--place vide--></div>
                                                </div>

                                                <!--row tu parles-->
                                                <div class="row" id="sent">
                                                      <div class="col-3"><!--place vide--></div>
                                                      <div class="col-3"><!--place vide--></div>
                                                      <div class="col-6 text-right" id="sent">
                                                            <p class="text-gray-500">heure du message</p>
                                                            <div class="card shadow  text-left bg-primary p-2  text-gray-100 float-right">
                                                                  Ca fait plaisir dude, je te dirais que ca fait quasiment mon affaire :P
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="row mt-5">
                                                      <div class="col">
                                                            <div class="input-group mb-3">
                                                                  <input type="text" class="form-control" placeholder="Message..." aria-label="Search" aria-describedby="basic-addon2">
                                                                  <div class="input-group-append">
                                                                        <button class="btn btn-dark" type="button">
                                                                              envoyer
                                                                        </button>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>


                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
