<div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-500">Settings</h1>
</div>

<div class="row">
      <!----------------------------------------------------------------------------------------------------------------------------------------Départements-->
      <div class="col-lg-12">
            <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 ">
                        <div class="row">
                              <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Départements</h6>
                              </div>
                        </div>
                  </div>


                  <!-- Card Body -->
                  <div class="card-body p-3 border-bottom-warning">
                        <div class="row m-4">
                              <div class="col-lg-12">
                                    <table class="table table-striped">
                                          <thead>
                                                <tr>
                                                      <th>Nom</th>
                                                      <th>Description</th>
                                                      <!--<th>Couleur</th>-->
                                                      <th style="text-align:center">Actif / Inactif</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr *ngFor="let p of empPositions" (click)="edit(p)">
                                                      <td>{{p.EmpPosition_Name}}</td>
                                                      <td>{{p.EmpPosition_Description}}</td>
                                                      <!--<td><div>{{p.EmpPosition_Color}}</div></td>-->
                                                      <td style="text-align:center">{{p.actif}}</td>
                                                      <!--<td style="text-align:center"><input type="checkbox" name="PosteInactif" value="" /></td>-->
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-12">
                                    <button class="btn btn-dark float-lg-right" (click)="add()">Ajouter</button>
                              </div>
                        </div>
                  </div>
                  <!---------------------------------------Dans le cas d'un ajout------------------------------------------------------------>

                  <div class="card-body p-3" *ngIf="ajout">
                        <form class="form-group" [formGroup]="positionForm" (ngSubmit)="onFormSubmit()">
                              <div class="row m-4">

                                    <div class="col">
                                          <label>Nom</label>
                                          <input class="form-control" type="text" formControlName="position_name" placeholder="Nom" [ngClass]="{'is-invalid' : formSubmited && f.position_name.errors}" />
                                          <div *ngIf="formSubmited && f.position_name.errors" class="invalid-feedback">
                                                <div *ngIf="f.position_name.errors.required">Le nom du département est obligatoire</div>
                                          </div>
                                    </div>
                                    <div class="col">
                                          <label>Description</label>
                                          <input class="form-control" type="text" formControlName="position_desc" placeholder="Description" [ngClass]="{'is-invalid' : formSubmited && f.position_desc.errors}" />
                                          <div *ngIf="formSubmited && f.position_desc.errors" class="invalid-feedback">
                                                <div *ngIf="f.position_desc.errors.required">La description du département est obligatoire</div>
                                          </div>
                                    </div>
                                    <!--<div class="col">
                                          <label>Couleur</label>
                                          <select class="form-control" formControlName="position_color" [ngClass]="{'is-invalid' : formSubmited && f.position_color.errors}">
                                                <option selected value="">N/A</option>
                                                <option style="background-color:#ff0" value="">n/a</option>
                                          </select>
                                          <div *ngIf="formSubmited && f.position_color.errors" class="invalid-feedback">
                                                <div *ngIf="f.position_color.errors.required">Vous devez choisir une couleur pour le département</div>
                                          </div>
                                    </div>-->
                                    <div class="col">
                                          <label>Inactif</label><br />
                                          <input type="checkbox" class="mr-3" formControlName="position_actif" writeValue="f.position_actif"/>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="col-12">
                                          <button class="btn btn-dark float-lg-right" (click)="resetForm()">Annuler</button>
                                          <button class="btn btn-dark float-lg-right mr-4">Ok</button>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </div>


