

/********************************************************************************************************************************HighLight*/
/*@import '../node_modules/@syncfusion/ej2-base/styles/highcontrast.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/highcontrast.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/highcontrast.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/highcontrast.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/highcontrast.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/highcontrast.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/highcontrast.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/highcontrast.css';*/

/*@import '../node_modules/@syncfusion/ej2-base/styles/highcontrast-light.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/highcontrast-light.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/highcontrast-light.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/highcontrast-light.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/highcontrast-light.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/highcontrast-light.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/highcontrast-light.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/highcontrast-light.css';*/

/********************************************************************************************************************************Bootstrap*/
/*@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap4.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/bootstrap4.css';*/

/*@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/bootstrap.css';*/

/*@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/bootstrap.css';*/

/*@import '../node_modules/@syncfusion/ej2-base/styles/bootstrap-dark.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap-dark.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap-dark.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap-dark.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap-dark.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap-dark.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap-dark.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/bootstrap-dark.css';*/
/********************************************************************************************************************************Fabric*/
/*@import '../node_modules/@syncfusion/ej2-base/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/fabric.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/fabric.css';*/

/*@import '../node_modules/@syncfusion/ej2-base/styles/fabric-dark.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/fabric-dark.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/fabric-dark.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/fabric-dark.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/fabric-dark.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/fabric-dark.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/fabric-dark.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/fabric-dark.css';*/
/********************************************************************************************************************************Material*/
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

/*@import '../node_modules/@syncfusion/ej2-base/styles/material-dark.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material-dark.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material-dark.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material-dark.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material-dark.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material-dark.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material-dark.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material-dark.css';*/

h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}
